// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
/{
    wind_speed {
        compatible = "gpio-keys";
        windspeed0: wind_speed_0 {
            gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>;
		output-ohms = <10000000>;
		full-ohms = <(10000000 + 4700000)>;
	};
        
    aliases {
		windspeed0 = &windspeed0;
    };
};

&sim_select {
    sim = "external";
};
