// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


/{
    wind_speed {
        compatible = "gpio-keys";
        windspeed0: wind_speed_0 {
            gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };

	power_enable {
		compatible = "gpio-leds";
		fanenable: nmos_2 {
			gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH)>;
			label = "fan power enable";
		};
		boostenable: nmos_3 {
			gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH)>;
			label = "12v boost enable";
		};

	};
    aliases {
		windspeed0 = &windspeed0;
		fanenable = &fanenable;
		boostenable = &boostenable;
		temp-sensor = &bme680;
    };
	nrf52840_reset: gpio-reset {
		status = "disabled";
	};

};


&i2c2 {
bme680: bme680@76 {};
};

&pinctrl {
	pwm2_default: pwm2_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
				<NRF_PSEL(PWM_OUT1, 0, 14)>;
		};
	};

	pwm2_sleep: pwm2_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 13)>,
				<NRF_PSEL(PWM_OUT1, 0, 14)>;

			low-power-enable;
		};
	};
};
